# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
import pandas as pd
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col , monotonically_increasing_id
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql import types as t
from pyspark.sql import SparkSession

In [2]:
#def create_spark_session():
 #   spark = SparkSession \
  #      .builder \
   #     .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0","saurfang:spark-sas7bdat:2.0.0-s_2.11") \
    #    .enableHiveSupport().getOrCreate()
    #return spark

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [35]:
# Read in the data here
#spark=create_spark_session()
df_airport = spark.read.format("csv").option("header", "true").load("airport-codes_csv.csv")
df_countryCodes=spark.read.format("csv").option("header", "true").load("i94cit_i94res.csv")
df_i94_mode=spark.read.format("csv").option("header", "true").load("i94mode.csv")
df_i94_visa=spark.read.format("csv").option("header", "true").load("i94visa.csv")
df_i94_add=spark.read.format("csv").option("header", "true").load("i94addr.csv")
df_i94_port=spark.read.format("csv").option("header", "true").load("i94port.csv")
#df_us_demographics=spark.read.option(Map "delimiter", ";" "header", "true").csv("us-cities-demographics.csv")
df_us_demographics=spark.read.format("csv").options(header="true",delimiter=";").load("us-cities-demographics.csv")

In [36]:
#Print Airport data schema
print(" Airport Data Schema...")
df_airport.printSchema()
# Print Airpot sample
print(" Airport Data sample..")
df_airport.head()
df_us_demographics.printSchema()
df_us_demographics.show(5)

 Airport Data Schema...
root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

 Airport Data sample..
root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

+----------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
|            City|        State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race|Count|
+----------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
|   Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino|25924|
|          Quincy|Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White|58723|
|          Hoover|      Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian| 4759|
|Rancho Cucamonga|   California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...|24437|
|          Newark|   New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White|76402|
+----------------+-------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+
only showing top 5 rows

In [6]:
#Print Country data schema
print(" Country Data Schema...")

df_countryCodes.printSchema()
# Print Country sample
df_countryCodes.head()

#Print Airport data schema
print(" i94 mode Data Schema...")
df_i94_mode.printSchema()
# Print Airpot sample
print(" i94 Data sample..")
df_i94_mode.head()

 Country Data Schema...
root
 |-- code: string (nullable = true)
 |-- country: string (nullable = true)

 i94 mode Data Schema...
root
 |-- code: string (nullable = true)
 |-- transportation: string (nullable = true)

 i94 Data sample..

Row(code='1', transportation='Air')

In [7]:
df_airport.createOrReplaceTempView("airport_codes_df")
airport_codes_table=spark.sql(""" SELECT * FROM airport_codes_df """)
print("Sample Airport data....")
airport_codes_table.show(5)

df_countryCodes.createOrReplaceTempView ("countryCodes_df")
countryCodes=spark.sql (""" SELECT * FROM countryCodes_df""")
print("Sample Country Codes data....")
countryCodes.show(5)

df_i94_mode.createOrReplaceTempView("i94_mode_df")
i94_mode=spark.sql("""SELECT * FROM i94_mode_df """)

print("Sample 94 mode data....")
i94_mode.show(5)

df_i94_visa.createOrReplaceTempView("i94_visa_df")
i94_visa=spark.sql("""SELECT * FROM i94_visa_df""")
print("print Visa types.....")
i94_visa.show(5)

df_i94_add.createOrReplaceTempView("i94_add_df")
i94_state=spark.sql ("""SELECT * FROM i94_add_df""")
print (" print i94 state codes data....")
i94_state.show(5)

df_i94_port.createOrReplaceTempView("i94_port_df")
i94_port=spark.sql("""SELECT * FROM  i94_port_df""")
print(" Print port info...")
i94_port.show(5)

Sample Airport data....
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|  00A|     heliport|   Total Rf Heliport|          11|       NA|         US|     US-PA|    Bensalem|     00A|     null|       00A|-74.9336013793945...|
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|     US-KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|     US-AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|     US-AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AR|       closed|Newport Hospital ...|         237|       NA|         US|     US-AR|     Newport|    null|     null|      null| -91.254898, 35.6087|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 5 rows

Sample Country Codes data....
+----+--------------------+
|code|             country|
+----+--------------------+
| 582|Mexico Air Sea, A...|
| 236|         Afghanistan|
| 101|             Albania|
| 316|             Algeria|
| 102|             Andorra|
+----+--------------------+
only showing top 5 rows

Sample 94 mode data....
+----+--------------+
|code|transportation|
+----+--------------+
|   1|           Air|
|   2|           Sea|
|   3|          Land|
+----+--------------+

print Visa types.....
+----+-----------------+
|code|reason_for_travel|
+----+-----------------+
|   1|         Business|
|   2|         Pleasure|
|   3|          Student|
+----+-----------------+

 print i94 state codes data....
+----+----------+
|code|     state|
+----+----------+
|  AL|   Alabama|
|  AK|    Alaska|
|  AZ|   Arizona|
|  AR|  Arkansas|
|  CA|California|
+----+----------+
only showing top 5 rows

 Print port info...
+----+--------------------+--------------------+----------------+
|code|       port_of_entry|                city|state_or_country|
+----+--------------------+--------------------+----------------+
| ALC|          Alcan, Ak |               Alcan|             Ak |
| ANC|      Anchorage, Ak |           Anchorage|             Ak |
| BAR|Baker Aaf - Baker...|Baker Aaf - Baker...|              Ak|
| DAC|  Daltons Cache, Ak |       Daltons Cache|             Ak |
| PIZ|Dew Station Pt La...|Dew Station Pt La...|              Ak|
+----+--------------------+--------------------+----------------+
only showing top 5 rows

In [8]:
	
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.\
#config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
#.enableHiveSupport().getOrCreate()
#df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [9]:
df_spark.printSchema()
df_spark.createOrReplaceTempView("Immigration_df")

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [12]:
Immigration_df=spark.sql(""" SELECT * FROM Immigration_df """)

Immigration_df.show(5)

+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|  6.0|2016.0|   4.0| 692.0| 692.0|    XXX|20573.0|   null|   null|   null|  37.0|    2.0|  1.0|    null|    null| null|      T|   null|      U|   null| 1979.0|10282016|  null|  null|   null| 1.897628485E9| null|      B2|
|  7.0|2016.0|   4.0| 254.0| 276.0|    ATL|20551.0|    1.0|     AL|   null|  25.0|    3.0|  1.0|20130811|     SEO| null|      G|   null|      Y|   null| 1991.0|     D/S|     M|  null|   null|  3.73679633E9|00296|      F1|
| 15.0|2016.0|   4.0| 101.0| 101.0|    WAS|20545.0|    1.0|     MI|20691.0|  55.0|    2.0|  1.0|20160401|    null| null|      T|      O|   null|      M| 1961.0|09302016|     M|  null|     OS|  6.66643185E8|   93|      B2|
| 16.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|  28.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 1988.0|09302016|  null|  null|     AA|9.246846133E10|00199|      B2|
| 17.0|2016.0|   4.0| 101.0| 101.0|    NYC|20545.0|    1.0|     MA|20567.0|   4.0|    2.0|  1.0|20160401|    null| null|      O|      O|   null|      M| 2012.0|09302016|  null|  null|     AA|9.246846313E10|00199|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 5 rows

In [12]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")

AnalysisException: 'path file:/home/workspace/sas_data already exists.;'

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [11]:
# Performing cleaning tasks here
#Check airport table for any nulls and drop the rows 
from pyspark.sql.functions import isnan, when, count, col

airport_codes_table.select([count(when(isnan(c), c)).alias(c) for c in airport_codes_table.columns]).show()

#Drop anyn null rows
airport_codes_table= airport_codes_table.na.drop()
airport_codes_table.show(5)
# Check the airport country before we use the data in our data model 
airport_codes_table.groupby('iso_country').count().show()

+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|ident|type|name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|coordinates|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+
|    0|   0|   0|           0|        0|          0|         0|           0|       0|        0|         0|          0|
+-----+----+----+------------+---------+-----------+----------+------------+--------+---------+----------+-----------+

+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region| municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
|  03N|small_airport|      Utirik Airport|           4|       OC|         MH|    MH-UTI|Utirik Island|    K03N|      UTK|       03N|  169.852005, 11.222|
| 07FA|small_airport|Ocean Reef Club A...|           8|       NA|         US|     US-FL|    Key Largo|    07FA|      OCA|      07FA|-80.274803161621,...|
| 0CO2|small_airport|Crested Butte Air...|        8980|       NA|         US|     US-CO|Crested Butte|    0CO2|      CSE|      0CO2|-106.928341, 38.8...|
| 0TE7|small_airport|   LBJ Ranch Airport|        1515|       NA|         US|     US-TX| Johnson City|    0TE7|      JCY|      0TE7|-98.6224975585999...|
| 13MA|small_airport|Metropolitan Airport|         418|       NA|         US|     US-MA|       Palmer|    13MA|      PMX|      13MA|-72.3114013671999...|
+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
only showing top 5 rows

+-----------+-----+
|iso_country|count|
+-----------+-----+
|         MX|   25|
|         UM|    2|
|         IQ|    1|
|         PG|  233|
|         ID|   10|
|         AU|   11|
|         PK|    2|
|         CA|  120|
|         BR|  133|
|         IR|    1|
|         EC|    1|
|         VI|    2|
|         TR|    3|
|         ZA|    2|
|         GU|    2|
|         KR|    1|
|         US| 1909|
|         IN|    2|
|         MG|    1|
|         TN|    1|
+-----------+-----+
only showing top 20 rows

In [12]:
#since immigration data we are working is USA only , remove non US airport codes from airport dataset thus reduce the data size

airport_codes_table=airport_codes_table.filter(airport_codes_table.iso_country=='US')
airport_codes_table.show(5)

+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region| municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
| 07FA|small_airport|Ocean Reef Club A...|           8|       NA|         US|     US-FL|    Key Largo|    07FA|      OCA|      07FA|-80.274803161621,...|
| 0CO2|small_airport|Crested Butte Air...|        8980|       NA|         US|     US-CO|Crested Butte|    0CO2|      CSE|      0CO2|-106.928341, 38.8...|
| 0TE7|small_airport|   LBJ Ranch Airport|        1515|       NA|         US|     US-TX| Johnson City|    0TE7|      JCY|      0TE7|-98.6224975585999...|
| 13MA|small_airport|Metropolitan Airport|         418|       NA|         US|     US-MA|       Palmer|    13MA|      PMX|      13MA|-72.3114013671999...|
|  13Z|seaplane_base|Loring Seaplane Base|           0|       NA|         US|     US-AK|       Loring|     13Z|      WLR|       13Z|-131.636993408, 5...|
+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
only showing top 5 rows

In [13]:
# Check diffrent airport types
airport_codes_table.groupby('type').count().show()

+--------------+-----+
|          type|count|
+--------------+-----+
| large_airport|  167|
| seaplane_base|   37|
|      heliport|   19|
|        closed|   18|
|medium_airport|  653|
| small_airport| 1015|
+--------------+-----+

In [13]:
# filter closed , heliport and seaplace base airport types since no immigration is collected in those places
non_airport=['closed','heliport','seaplane_base']
airport_codes_table=airport_codes_table.filter(~airport_codes_table.type.isin (non_airport))
airport_codes_table.groupby('type').count().show()

+--------------+-----+
|          type|count|
+--------------+-----+
| large_airport|  627|
|   balloonport|   24|
|medium_airport| 4550|
| small_airport|33965|
+--------------+-----+

In [14]:
#airport_codes_table['region']=airport_codes_table['iso_region'].str.strip().str.split("-", n = 1, expand = True)[1]
from pyspark.sql.functions import *
#airport_codes_table.show()
airport_codes_table = airport_codes_table.withColumn("iso_region", regexp_replace(airport_codes_table['iso_region'], 'US-', ''))
airport_codes_table.show(5)
#airport_codes_table['state'] = airport_codes_table['iso_region'].split("-", n = 1, expand = True)[1]

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|        KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|        AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|        AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...|
| 00AS|small_airport|      Fulton Airport|        1100|       NA|         US|        OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|
| 00AZ|small_airport|      Cordes Airport|        3810|       NA|         US|        AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+
only showing top 5 rows

In [21]:
# split coordinates columsn into Latitude and Longitude  columns
airport_codes_table=airport_codes_table.withColumn("Latitude",split(airport_codes_table['coordinates'],",").getItem(0))
airport_codes_table=airport_codes_table.withColumn("Longitude",split(airport_codes_table['coordinates'],",").getItem(1))
airport_codes_table.show(5)

+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+-------------------+-------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|municipality|gps_code|iata_code|local_code|         coordinates|           Latitude|          Longitude|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+-------------------+-------------------+
| 00AA|small_airport|Aero B Ranch Airport|        3435|       NA|         US|        KS|       Leoti|    00AA|     null|      00AA|-101.473911, 38.7...|        -101.473911|          38.704022|
| 00AK|small_airport|        Lowell Field|         450|       NA|         US|        AK|Anchor Point|    00AK|     null|      00AK|-151.695999146, 5...|     -151.695999146|        59.94919968|
| 00AL|small_airport|        Epps Airpark|         820|       NA|         US|        AL|     Harvest|    00AL|     null|      00AL|-86.7703018188476...| -86.77030181884766|  34.86479949951172|
| 00AS|small_airport|      Fulton Airport|        1100|       NA|         US|        OK|        Alex|    00AS|     null|      00AS|-97.8180194, 34.9...|        -97.8180194|         34.9428028|
| 00AZ|small_airport|      Cordes Airport|        3810|       NA|         US|        AZ|      Cordes|    00AZ|     null|      00AZ|-112.165000915527...|-112.16500091552734| 34.305599212646484|
+-----+-------------+--------------------+------------+---------+-----------+----------+------------+--------+---------+----------+--------------------+-------------------+-------------------+
only showing top 5 rows

In [29]:
#Filter airport regions whcih are not in region (state) data set
#airport_df=airport_codes_table.join (i94_state,airport_codes_table.iso_region == i94_state.code,how='left')
#airport_df=airport_df.filter(airport_df['iso_region'].isNull())
#airport_df.show()
airport_codes_table.createOrReplaceTempView("airport_df")
airport_df=spark.sql(""" SELECT a.* FROM airport_df a  JOIN  i94_add_df b on a.iso_region =b.code """)
airport_df.show()

+-----+-------------+--------------------+------------+---------+-----------+----------+---------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region|   municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+---------------+--------+---------+----------+--------------------+
| 07FA|small_airport|Ocean Reef Club A...|           8|       NA|         US|        FL|      Key Largo|    07FA|      OCA|      07FA|-80.274803161621,...|
| 0CO2|small_airport|Crested Butte Air...|        8980|       NA|         US|        CO|  Crested Butte|    0CO2|      CSE|      0CO2|-106.928341, 38.8...|
| 0TE7|small_airport|   LBJ Ranch Airport|        1515|       NA|         US|        TX|   Johnson City|    0TE7|      JCY|      0TE7|-98.6224975585999...|
| 13MA|small_airport|Metropolitan Airport|         418|       NA|         US|        MA|         Palmer|    13MA|      PMX|      13MA|-72.3114013671999...|
|  16A|small_airport| Nunapitchuk Airport|          12|       NA|         US|        AK|    Nunapitchuk|    PPIT|      NUP|       16A|-162.440454, 60.9...|
| 19AK|small_airport|     Icy Bay Airport|          50|       NA|         US|        AK|        Icy Bay|    19AK|      ICY|      19AK|-141.662002563, 5...|
|  1KC|small_airport|Kalakaket Creek A...|        1598|       NA|         US|        AK|Kalakaket Creek|     1KC|      KKK|       1KC|-156.820392609, 6...|
|  1O6|small_airport|Dunsmuir Muni-Mot...|        3258|       NA|         US|        CA|       Dunsmuir|    KMHS|      MHS|       1O6|-122.272003, 41.2...|
|  2AK|small_airport|Lime Village Airport|         552|       NA|         US|        AK|   Lime Village|     2AK|      LVD|       2AK|-155.440002441, 6...|
| 2AK6|small_airport|   Hog River Airport|         534|       NA|         US|        AK|        Hogatza|    2AK6|      HGZ|      2AK6|-155.6690063, 66....|
| 2IG4|small_airport|      Ed-Air Airport|         426|       NA|         US|        IN|        Oaktown|     I20|      OTN|       I20|-87.4997024536, 3...|
|  2K5|small_airport|      Telida Airport|         650|       NA|         US|        AK|         Telida|     2K5|      TLF|       2K5|-153.26899719238,...|
| 2TE0|small_airport|      Eagle Air Park|          15|       NA|         US|        TX|       Brazoria|    2TE0|      BZT|      2TE0|-95.579696655273,...|
| 38WA|small_airport|Blakely Island Ai...|          66|       NA|         US|        WA| Blakely Island|    38WA|      BYW|      38WA|-122.825996399, 4...|
| 3AK5|small_airport| Drift River Airport|          30|       NA|         US|        AK|          Kenai|    3AK5|      DRF|      3AK5|-152.162002563, 6...|
| 3IS8|small_airport|Rinkenberger Rest...|         808|       NA|         US|        IL|       Bradford|    3IS8|      BDF|      3IS8|-89.6156997681000...|
|  3VS|small_airport|Roy Otten Memoria...|        1030|       NA|         US|        MO|     Versailles|     3VS|      VRS|       3VS|-92.875198364258,...|
|  4AK|small_airport|Livengood Camp Ai...|         425|       NA|         US|        AK|      Livengood|     4AK|      LIV|       4AK|   -148.6534, 65.467|
|  4K0|small_airport|   Pedro Bay Airport|          45|       NA|         US|        AK|      Pedro Bay|     4K0|      PDB|       4K0|-154.12399292, 59...|
|  4KA|small_airport|     Tununak Airport|          14|       NA|         US|        AK|        Tununak|     4KA|      TNK|       4KA|-165.27200317383,...|
+-----+-------------+--------------------+------------+---------+-----------+----------+---------------+--------+---------+----------+--------------------+
only showing top 20 rows

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.